<!doctype html><head><meta charset=utf-8><title>auth_group</title>
<style type="text/css">
table {
border: 1px solid black;
border-collapse: collapse;
}
table th {
padding: 6px;
border: 1px solid black;
background-color: #ddd;
}
table td {
padding: 6px;
border: 1px solid black;
background-color: #fff;
}
</style></head>
<h2>auth_group</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>name</td>
		<td>Text:I:U</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>name</th>
	</tr>
</table><br><h2>auth_group_permissions</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>group_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>permission_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>group_id</th>
		<th>permission_id</th>
	</tr>
</table><br><h2>auth_permission</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>content_type_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>codename</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>name</td>
		<td>Text</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>content_type_id</th>
		<th>codename</th>
		<th>name</th>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
</table><br><h2>auth_user</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>password</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>last_login</td>
		<td>Numeric:N</td>
	</tr>
	<tr>
		<td>is_superuser</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>username</td>
		<td>Text:I:U</td>
	</tr>
	<tr>
		<td>last_name</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>email</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>is_staff</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>is_active</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>date_joined</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>first_name</td>
		<td>Text</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>password</th>
		<th>last_login</th>
		<th>is_superuser</th>
		<th>username</th>
		<th>last_name</th>
		<th>email</th>
		<th>is_staff</th>
		<th>is_active</th>
		<th>date_joined</th>
		<th>first_name</th>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
</table><br><h2>auth_user_groups</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>group_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>user_id</th>
		<th>group_id</th>
	</tr>
</table><br><h2>auth_user_user_permissions</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>permission_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>user_id</th>
		<th>permission_id</th>
	</tr>
</table><br><h2>django_admin_log</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>object_id</td>
		<td>Text:N</td>
	</tr>
	<tr>
		<td>object_repr</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>action_flag</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>change_message</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>content_type_id</td>
		<td>Integer:I:N</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>action_time</td>
		<td>DateTime</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>object_id</th>
		<th>object_repr</th>
		<th>action_flag</th>
		<th>change_message</th>
		<th>content_type_id</th>
		<th>user_id</th>
		<th>action_time</th>
	</tr>
</table><br><h2>django_content_type</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>app_label</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>model</td>
		<td>Text</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>app_label</th>
		<th>model</th>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
</table><br><h2>django_migrations</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>app</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>name</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>applied</td>
		<td>DateTime</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>app</th>
		<th>name</th>
		<th>applied</th>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	<tr>
		<td align=right>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
</table><br><h2>django_session</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>session_key</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>session_data</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>expire_date</td>
		<td>DateTime:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>session_key</th>
		<th>session_data</th>
		<th>expire_date</th>
	</tr>
</table><br><h2>myapp_activitylog</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>activity_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>action</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>time</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>activity_id</th>
		<th>action</th>
		<th>time</th>
		<th>user_id</th>
	</tr>
</table><br><h2>myapp_comment</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>comments_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>content</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>post_id</td>
		<td>Integer:I:N</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>parent_comment_id</td>
		<td>Integer:I:N</td>
	</tr>
</table><br><table>
	<tr>
		<th>comments_id</th>
		<th>content</th>
		<th>created_at</th>
		<th>post_id</th>
		<th>user_id</th>
		<th>parent_comment_id</th>
	</tr>
</table><br><h2>myapp_comment_replies</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>from_comment_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>to_comment_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>from_comment_id</th>
		<th>to_comment_id</th>
	</tr>
</table><br><h2>myapp_follow</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>follows_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>followee_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>follower_user_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>follows_id</th>
		<th>created_at</th>
		<th>followee_id</th>
		<th>follower_user_id</th>
	</tr>
</table><br><h2>myapp_like</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>likes_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>object_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>content_type_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>likes_id</th>
		<th>object_id</th>
		<th>created_at</th>
		<th>content_type_id</th>
		<th>user_id</th>
	</tr>
</table><br><h2>myapp_message</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>message_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>content</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>sent_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>is_read</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>recipient_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>sender_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>message_id</th>
		<th>content</th>
		<th>sent_at</th>
		<th>is_read</th>
		<th>recipient_id</th>
		<th>sender_id</th>
	</tr>
</table><br><h2>myapp_notification</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>type</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>notification_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>content</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>is_read</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>type</th>
		<th>notification_id</th>
		<th>content</th>
		<th>created_at</th>
		<th>is_read</th>
		<th>user_id</th>
	</tr>
</table><br><h2>myapp_post</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>post_id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>content</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>image</td>
		<td>Text:N</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>is_private</td>
		<td>Numeric</td>
	</tr>
	<tr>
		<td>tag_another_user_id</td>
		<td>Integer:I:N</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>post_id</th>
		<th>content</th>
		<th>image</th>
		<th>created_at</th>
		<th>is_private</th>
		<th>tag_another_user_id</th>
		<th>user_id</th>
	</tr>
</table><br><h2>myapp_post_comments</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>post_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>comment_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>post_id</th>
		<th>comment_id</th>
	</tr>
</table><br><h2>myapp_post_likes</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>post_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>userprofile_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>post_id</th>
		<th>userprofile_id</th>
	</tr>
</table><br><h2>myapp_userprofile</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>email</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>user_lastname</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>user_gender</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>user_country</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>user_phone</td>
		<td>Text:I:U</td>
	</tr>
	<tr>
		<td>user_birth_date</td>
		<td>Date</td>
	</tr>
	<tr>
		<td>user_city</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>user_address</td>
		<td>Text:N</td>
	</tr>
	<tr>
		<td>user_register_date</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>last_login</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>user_imag_container</td>
		<td>Text:N</td>
	</tr>
	<tr>
		<td>user_profile_imag</td>
		<td>Text:N</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I:U</td>
	</tr>
	<tr>
		<td>username</td>
		<td>Text</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>email</th>
		<th>user_lastname</th>
		<th>user_gender</th>
		<th>user_country</th>
		<th>user_phone</th>
		<th>user_birth_date</th>
		<th>user_city</th>
		<th>user_address</th>
		<th>user_register_date</th>
		<th>last_login</th>
		<th>user_imag_container</th>
		<th>user_profile_imag</th>
		<th>user_id</th>
		<th>username</th>
	</tr>
</table><br><h2>myapp_userprofile_groups</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>userprofile_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>group_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>userprofile_id</th>
		<th>group_id</th>
	</tr>
</table><br><h2>myapp_userprofile_user_permissions</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>userprofile_id</td>
		<td>Integer:I</td>
	</tr>
	<tr>
		<td>permission_id</td>
		<td>Integer:I</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>userprofile_id</th>
		<th>permission_id</th>
	</tr>
</table><br><h2>token_blacklist_blacklistedtoken</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>blacklisted_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>token_id</td>
		<td>Integer:I:U</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>blacklisted_at</th>
		<th>token_id</th>
	</tr>
</table><br><h2>token_blacklist_outstandingtoken</h2><br><table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>id</td>
		<td>Integer</td>
	</tr>
	<tr>
		<td>jti</td>
		<td>Text:I:U</td>
	</tr>
	<tr>
		<td>token</td>
		<td>Text</td>
	</tr>
	<tr>
		<td>created_at</td>
		<td>Numeric:N</td>
	</tr>
	<tr>
		<td>expires_at</td>
		<td>DateTime</td>
	</tr>
	<tr>
		<td>user_id</td>
		<td>Integer:I:N</td>
	</tr>
</table><br><table>
	<tr>
		<th>id</th>
		<th>jti</th>
		<th>token</th>
		<th>created_at</th>
		<th>expires_at</th>
		<th>user_id</th>
	</tr>
</table><br>